<link rel="stylesheet" href="/css/forgot-password.css">
<main>
    <section class="main-section">
        <div class="main-heading-div">
            <p>Please enter your email id :</p>
        </div>
        <form action="/users/send-mail-forgot" method="POST">
            <div class="enter-email">
                <input type="email" name="email" class="input-bar" placeholder="Email" required >
                <button type="submit" class="btn">Reset</button>
            </div>
        </form>
    </section>
</main>
