<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="55952063022-bi23okprm3sooic5p8npm4mfkvnk50r4.apps.googleusercontent.com">
    <title>Authy</title>
    <%- style %>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <%- body %>
    <%- script %>
</body>
</html>