<link rel="stylesheet" href="/css/forgot-password.css">
<main>
    <section class="main-section">
        <p>Hi, <%=at.user.name%></p>
        <% if(at.valid==true){%> 
        <div class="main-heading-div">
            <p>Please Setup a New Password to continue : </p>
        </div>
        <form action="/users/security-reset-password?at=" method="POST">
            <div class="enter-email">
                <input hidden type="text" name="access_token" value="<%=at._id%>">
                <input type="password" name="password" class="input-bar" placeholder="Password" required>
                <input type="password" name="confirm-password" class="input-bar" placeholder="Confirm Password" required>
                <button type="submit" class="btn">Reset</button>
            </div>
        </form>
        <%} else {%>
            <p>Link Expired</p>
        <%}%>
    </section>
</main>
