$primary-color: #4DB6AC;
$primary-color-dark: #00897B;

main{
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    opacity: 0.7;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-section{
    box-sizing: border-box;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    .main-heading-div{
        p{
            font-size: 35px;
            color: $primary-color;
            font-weight: 900;
        }
        
    }
    .google-btn-container{
        height: 42px;
        width: 186px;
        #google-btn{
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            margin-left: -2px;
            margin-top: -2px;
        }
        
    }
    .google-btn-container:hover{
        cursor: pointer;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .login-form-div{
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .option-text{
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 15px;
        }
        .input-bar-container{
            background-color: #E0F2F1;
            margin: 5px;
            padding: 4px 15px;
            font-size: 20px;
            width: 90%;
            border-radius: 4px;
        }
        .input-bar{
            padding: 5px 10px;
            outline: none;
            font-size: 18px;
            height: 30px;
            width: 80%;
            border: 0px;
            background-color: #E0F2F1;
        }
        .forgot-password-div{
            margin-top: 10px;
            margin-bottom: 30px;
            a{
                border-bottom: 1px solid lightgray;
            }
        }
        .btn{
            background-color: $primary-color;
            color: white;
            border-radius: 20px;
            font-size: 15px;
            padding: 10px 30px;
            outline: none;
            margin-top: 15px;
        }
        .btn:hover{
            background-color: $primary-color-dark;
        }
    }
}

.aside-section{
    padding: 50px 10px;
    box-sizing: border-box;
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .details{
        color: white;
        margin-bottom: 10px;
        h2{
            font-size: 35px;
            font-weight: 900;
            text-align: center;
        }
        p{
            text-align: center;
        }
    }
    .btn-2{
        background-color: $primary-color;
        color: white;
        border-radius: 20px;
        font-size: 15px;
        padding: 10px 30px;
        outline: none;
        border: 2px solid white;
        margin-bottom: 20px;
    }
    .btn-2:hover{
        background-color: $primary-color-dark;
    }
}


.lgray-color{
    color: gray;
}

@media screen and (max-width:1000px){
    main{
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .main-section{
        width: 100%;
    }
    .aside-section{
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .main-section, .aside-section{
        padding: 10px;
    }
}


@media screen and (max-width:768px){
    main{
        width: 100%;
    }
}