<div>
    <p>
        Hi, <%=user.name%>
        <br>
        <br>
        Your Password was just updated if you did not do this please click on link below!
    </p>
    <br>
    <a href="<%=reset_link%>">
        <%=reset_link%>
    </a>
    <h1>Warning! Please don't share this link with anyone</h1>
</div>