<div>
    <p>
        Hi, <%=user.name%>
        <br>
        <br>
        Forgot Password? No issues just click on link below and reset password!
    </p>
    <br>
    <a href="<%=reset_link%>">
        <%=reset_link%>
    </a>
    <h1>Warning! Please don't share this link with anyone</h1>
</div>